html {
		background-image: url("matrix.gif");
	}

@keyframes example {
  from {background-color: rgba(0,0,0,0.67);}
  to {background-color: black;}
}

body {
	background-color: rgba(0,0,0,0.67);
	animation-name: example;
	animation-duration: 5s;
}

p, li, h1, h2, td {
	color: purple;
	font-family: 'Copperplate', fantasy;
	font-size: 30px;
	text-shadow: revert;
	
}
p {
	width: 400px;
	border: 15px solid green;
	padding: 50px;
	margin: 50px;
}
